.wrapper {
  width: 300px;
  background: transparent;
  border: 2px solid rgba(255,255,255, .2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 0 auto;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-box input {
  width: calc(100% - 40px);
  height: 30px;
  padding: 5px;
  background: transparent;
  color: #fff;
  border: 1px solid silver;
  border-radius: 10px;
  outline: none;
}

.input-box .icon1,
.input-box .icon2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper button {
  width: 50%;
  height: 35px;
  margin-left: 25%;
  margin-top: 20px;
  border-radius: 10px;
  background-color: green;
  border: 1px solid green;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
}

.wrapper .forget-password,
.wrapper .register {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.wrapper .forget-password a,
.wrapper .register1 {
  color: green;
  cursor: pointer;
}

.wrapper .forget-password a:hover,
.wrapper .register1:hover {
  text-decoration: underline;
}