.chatAI {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }
  .navbar-center {
    color: white;
    font-size: 30px;
    font-weight: 1000;
    
    text-align: center;
    margin-left: 40px;
  }
  
  .navbar-top {
    display: flex;
    justify-content: flex-end;
  }

  .three-dots{
    margin-right: 35px;
  }
  
  .dropdown-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
  
  .dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #333;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  
  .dropdown-menu li {
    padding: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #555;
  }

  .menu-Src {
    cursor: pointer;
    width: 30px;
    height: 30px
  }