.register {
    width: 260px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin-left: 40%;
  } 


.usr1,.pwd1 ,.pwd2{
    width: 225px;
    height: 30px;
    border-radius: 10px;
    border-color:silver; 
  }

 
   .input-box1{
    position: relative;
    width: 100%;
    height: 50px;
    margin:  5px 0;


  }

  .input-box1 input {
      background: transparent;
      color: #fff;

  }

.s1 {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  
}
  .register button{
    position: relative;
    margin-left: 5%;
    border-radius: 10px;
    background-color: green;
    width: 50%;
    height: 35px;
    border-color: green;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.icon1{
    position: absolute;
    right: 33px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 20px;
  
  }
  
  /* .pageregister .input-box1 .icon2{
    position: absolute; 
    right: 240px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 20px;
  
  } */